﻿@model MVCproject.WEB.Models.PizzaCategoryViewModel

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Вы действительно хотите удалить данную категорию?</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="form-group">
    <div class="col-md-10">
        <dt>
            @Html.DisplayFor(model => model.Name)
        </dt>
    </div>
</div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="modal-footer">
            <input type="submit" value="Удалить" class="btn btn-default" />
        </div>
    }
    
