﻿@model List<MVCproject.WEB.Models.PizzaCategoryViewModel>


<div class="form-horizontal">
    <h4>Редактировать категорию</h4>
    <hr />
    
    @using (Html.BeginForm("Edit", "PizzaCategory", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <form>
        @Html.Label("Категория", htmlAttributes: new { @class = "control-label col-md-2" })
        @for (int i=0; i<Model.Count; i++)
        {
            @Html.HiddenFor(model=>Model[i].CategoryID, new { htmlAttributes = new { @class = "form-control" } })
            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => Model[i].Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => Model[i].Name, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </form>
    }
    </div>

<div>
    @Html.ActionLink("Назад", "Index")
</div>
