﻿@model IEnumerable<MVCproject.WEB.Models.PizzaCategoryViewModel>

@if (User.IsInRole("Admin"))
{
    <p>
        <br/>
        @Html.ActionLink("Добавить категорию", "Create", null, new {@class = "btn btn-warning btn-sm"})
        @Html.ActionLink("Редактировать категории", "Edit", null, new {@class = "btn btn-warning btn-sm"})

    </p>
}

@foreach (var item in Model)
{
<hr />
<div class="container">
    <div class="row">
        <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
    </div>
    @if (User.IsInRole("Admin"))
    {
        <div class="row">
            <p>
                @Ajax.ActionLink("Удалить категорию", "Delete", "PizzaCategory", new { name = item.Name }, new AjaxOptions()
                   {
                       HttpMethod = "Get",
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "modal-content",
                       OnSuccess = "$.validator.unobtrusive.parse('form');",
                       AllowCache = false
                   }, new {@class = "btn btn-warning btn-sm", data_toggle = "modal", data_target = "#exampleModal"})
                @Html.ActionLink("Добавить пиццу", "Create", "Pizza", new {id = item.CategoryID}, new {@class = "btn btn-warning btn-sm"})
            </p>
        </div>
    }
    <div class="row">
        @Html.Action("List", "Pizza", new {categoryid = item.CategoryID})
    </div>
</div>
}
