﻿@using System.Web.Mvc.Html
@model MVCproject.WEB.Models.PizzaViewModel

<h2>Создание пиццы</h2>

@using (Html.BeginForm("Create", "Pizza", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<form>
    <div class="form-group">
        @Html.Label("Категория", new { @class = "control-label" })
        @Html.Action("GetSelectList", "PizzaCategory", new { categoryid = Model.CategoryID })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => Model.Name, new { @class = "control-label" })
        @Html.ValidationMessageFor(m => m.Name)
        @Html.EditorFor(model => Model.Name, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => Model.Description, new { @class = "control-label" })
        @Html.ValidationMessageFor(m => m.Description)
        @Html.TextAreaFor(model => Model.Description, new { @class = "form-control" })
    </div>
    
    <div class="form-group">
        <div class="editor-label">
            Файл изображения
        </div>

        <div class="editor-field">
            <input type="file" name="uploadImage" />
        </div>
    </div>

    <input type="submit" value="Добавить" class="btn btn-default btn-warning btn-sm" />
    </form>
}
