﻿@model MVCproject.WEB.Models.PizzaViewModel


<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Вы действительно хотите удалить?
        <dd>@Html.DisplayFor(model => model.Name) : @Html.DisplayFor(model => model.Name)</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
       
    @if (@Model.Image != null)
    {
        @Html.Raw("<img class='card-img-top' style='width:350px;' src=\"data:image/jpeg;base64,"
                  + Convert.ToBase64String(Model.Image) + "\" alt='Card image cap' />")
    }
    else
    {
        @Html.Raw("Изображение отсутствует.")
    }
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="modal-footer">
                <input type="submit" value="Удалить" class="btn btn-default" />
                <button class="btn btn-light" data-dismiss="modal">Закрыть</button>
        </div>
    }
