﻿@model MVCproject.WEB.Models.PizzaViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Подробнее</h2>

<div>
    <dl class="dl-horizontal">

        <h3>Категория: <span class="badge badge-secondary">@ViewBag.Category</span></h3>

        <dt> @Html.DisplayFor(model => model.Name)</dt>

        @if (Model.Image != null)
        {
            @Html.Raw("<img class='card-img-top' style='width:350px;' src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.Image) + "\" alt='Card image cap' />")
        }
        else
        {
            <div class="editor-label">Изображение отсутствует.</div>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Description) : @Html.DisplayFor(model => model.Description)
        </dt>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit\\"+ @Model.PizzaID, new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
