﻿@model MVCproject.WEB.Models.PizzaViewModel


<div id="editor">

    <h2>Редактирование пиццы: @Model.Name (@Model.PizzaID.ToString())</h2>

    @using (Html.BeginForm("Edit", "Pizza", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <form>
            @Html.HiddenFor(x => x.PizzaID)
            @Html.HiddenFor(x => x.Image)

            <div class="form-group">
                @Html.Label("Категория", new { @class = "control-label" })
                @Html.Action("GetSelectList", "PizzaCategory", new { categoryid = Model.CategoryID })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => Model.Name, new { @class = "control-label" })
                @Html.ValidationMessageFor(m => m.Name)
                @Html.EditorFor(model => Model.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => Model.Description, new { @class = "control-label" })
                @Html.ValidationMessageFor(m => m.Description)
                @Html.TextAreaFor(model => Model.Description, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @if (Model.Image != null)
                {
                    @Html.Raw("<img class='card-img-top' style='width:350px;' src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.Image) + "\" alt='Card image cap' />")
                }
                else
                {
                    <div class="editor-label">Изображение отсутствует.</div>
                }
                <div class="editor-field">
                    <input type='file' id="getFile" name="uploadImage">
                </div>
            </div>

            <p><input type="submit" value="Отправить" class="btn btn-default" /></p>
        </form>
    }
    
    @Html.Action("View", "PizzaType", new { pizzaid = Model.PizzaID})

    <br/>
</div>