﻿@model IEnumerable<MVCproject.WEB.Models.PizzaViewModel>

@Html.ActionLink("Добавить", "Create", null,  new { @class = "btn btn-primary" })

<h2>Список всех пицц</h2>
@{
    Html.RenderPartial("List", Model);
}
