﻿@model IEnumerable<MVCproject.WEB.Models.PizzaViewModel>

@{
    Layout = null;
}
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<div class="card-columns">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-body">
                @Html.Raw("<img class='card-img-top' style='width:100%;' src=\"data:image/jpeg;base64,"
                          + Convert.ToBase64String(item.Image) + "\" alt='Card image cap' />")
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                <p class="card-text"> @Html.DisplayFor(modelItem => item.Description)</p>
                @{
                    Html.RenderAction("View", "PizzaType", new { pizzaid = item.PizzaID});
                }
                @if (User.IsInRole("Admin"))
                {
                    <div class="btn-group" role="group">
                        @Html.ActionLink("Редактировать", "Edit", new {name = item.Name}, new {@class = "btn btn-warning btn-sm"})
                        
                        @Ajax.ActionLink("Удалить", "Delete", "Pizza", new { name = item.Name }, new AjaxOptions()
                       {
                           HttpMethod = "Get",
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = "modal-content",
                           OnSuccess = "$.validator.unobtrusive.parse('form');",
                           AllowCache = false
                       }, new {@class = "btn btn-warning btn-sm", data_toggle = "modal", data_target = "#exampleModal"})
                    </div>
                }
            </div>
        </div>
    }
</div>