﻿@model MVCproject.WEB.Models.UserModels.ProfileViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationMessage("Error", new { @class = "text-danger" })
    <div class="form-horizontal">
        <h4>Редактирование профиля:</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.Login, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Login, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Login, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
            </div>
        </div>
        @Html.HiddenFor(model => model.UserId)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default"/>
            </div>
        </div>
    </div>
}