﻿@model MVCproject.WEB.Models.UserModels.LoginViewModel
@{
    Layout = null;
}


@Html.ValidationMessage("Error", new { @class = "text-danger" })


@using(Ajax.BeginForm("Login", "Account", new AjaxOptions()
{
    AllowCache = false,
    HttpMethod = "Post",
    UpdateTargetId = "modal-content",
    InsertionMode = InsertionMode.Replace,
    OnSuccess = "ajaxreload(data)"
}))
     {
         <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLabel">Авторизация</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
             </button>
         </div>

         @Html.AntiForgeryToken()
         <div class="form-horizontal">
             <div class="form-group">
                 @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label col-md-2" })
                 <div class="col-md-10">
                     @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                     @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                 </div>
             </div>

             <div class="form-group">
                 @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                 <div class="col-md-10">
                     @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                     @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                 </div>
             </div>

             <div class="modal-footer">
                 <input type="submit" value="Войти" class="btn btn-default" />
                 <button class="btn btn-light" data-dismiss="modal">Закрыть</button>
             </div>
         </div>
    }

<script>
    function ajaxreload(data) {
        if (data.status == true) {
            window.location.replace("\\");
        }
    }
</script>