﻿@model MVCproject.WEB.Models.UserModels.RegisterViewModel

<div>
    <h4>Ваш профиль:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    
    <div class="btn-group mb-1">
        @Html.ActionLink("Редактировать профиль", "Edit", "Account", new { login = Model.Login }, new { @class = "btn btn-success" })
        @Html.ActionLink("Сменить пароль", "ChangePassword", "Account", new { login = Model.Login }, new { @class = "btn btn-success" })

    </div>
</div>
