﻿@using MVCproject.WEB.Auth

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" id="modal-content">
            </div>
        </div>
    </div>
</div>


<nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        <span class="navbar-toggler-icon">123</span>
    </button>

    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">

            <li class="container nav-item">
                @Html.ActionLink("PizzaProject", "Index", "PizzaCategory", null, new {@class = "btn btn-outline-light btn-sm"})
            </li>
            
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("User"))
                {
                    <li class="container nav-item">
                        @Html.ActionLink("Оформить заказ", "Checkout", "Cart", null, new {@class = "btn btn-success btn-sm"})
                    </li>
                }
                if (User.IsInRole("Admin"))
                {
                    <li class="container nav-item">
                        @Html.ActionLink("Пользователи", "Users", "Admin", null, new {@class = "btn btn-warning btn-sm"})
                    </li>
                    <li class="container nav-item">
                        @Html.ActionLink("WebAPI", "Webapi", "Admin", null, new {@class = "btn btn-warning btn-sm"})
                    </li>
                }
            }

        </ul>

        <ul class="navbar-nav ml-auto ">

            @if (User.Identity.IsAuthenticated)
            {
                <li class="m-1 nav-item">
                    <span class="text-white">Добро пожаловать, <b>@(((CustomPrincipal)(User)).Email)</b></span>
                </li>
                <li class="m-1 nav-item">
                    @Html.ActionLink("Профиль", "Profile", "Account", new {login = User.Identity.Name}, new {@class = "btn btn-secondary btn-sm"})
                </li>
                <li class="m-1 nav-item">
                    @Html.ActionLink("Выйти", "Logout", "Account", null, new {@class = "btn btn-secondary btn-sm"})
                </li>
            }

            else
            {
                <li class="container nav-item">
                    @Html.ActionLink("Регистрация", "Register", "Account", null, new {@class = "btn btn-secondary btn-sm"})
                </li>

                <li class="container nav-item">
                    @Ajax.ActionLink("Войти", "Login", "Account", null, new AjaxOptions()
                    {
                        HttpMethod = "Get",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "modal-content",
                        OnSuccess = "$.validator.unobtrusive.parse('form');",
                        AllowCache = false
                    }, new {@class = "btn btn-primary btn-sm", data_toggle = "modal", data_target = "#exampleModal"})
                </li>
            }


        </ul>
    </div>
</nav>


<div class="container container-fluid  body-content" style="background: aliceblue">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>

@RenderSection("scripts", required: false)

</body>
</html>

