﻿@model MVCproject.WEB.Models.UserModels.UserViewModel

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Вы действительно хотите удалить пользователя
        <dd>@Html.DisplayFor(model => model.Login)?</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-footer">
        <input type="submit" value="Удалить" class="btn btn-default" />
        <button class="btn btn-light" data-dismiss="modal">Закрыть</button>
    </div>
}

