﻿@model MVCproject.WEB.Models.UserModels.UserViewModel

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    
<div class="form-horizontal">
    <h4>UserDTO</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.ValidationMessage("Error", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.UserId)

    
    <div class="form-group">
        @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>
<div class="col-md-4">
    <table class="table">
        <tr>
            <th>
                Id
            </th>
            <th>
                Role
            </th>
            <th></th>
        </tr>

        @for(int i=0; i<Model.Roles.Count(); i++)
        {
            <tr>
                <td>
                    @Html.HiddenFor(t=>t.Roles[i].RoleId)
                    @Html.Label(Model.Roles[i].RoleId.ToString())
                </td>
                <td>
                    @Html.HiddenFor(t => t.Roles[i].Name)
                    @Html.Label(Model.Roles[i].Name)
                </td>
                <td>
                    @Html.CheckBoxFor(t=>t.Roles[i].isChecked)
                </td>
            </tr>
        }
    </table>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}
