﻿@using MVCproject.WEB.Auth
@model List<MVCproject.BLL.Models.UserDTO>

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Login
        </th>
        <th>
            Password
        </th>
        <th>
            Email
        </th>
        <th>
            Roles
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            <label>|</label>
            @foreach (var role in item.Roles)
            {
                @Html.DisplayFor(modelItem => role.Name)
                <label>|</label>
            }
        </td>
        @if((((CustomPrincipal)(User)).UserId)!=item.UserId)
        { <td>
              @Html.ActionLink("Редактировать", "Edit", new { id = item.UserId }, new { @class = "btn btn-warning btn-sm"}) |

              @Ajax.ActionLink("Удалить", "Delete", new { id = item.UserId }, new AjaxOptions()
              {
                  HttpMethod = "Get",
                  InsertionMode = InsertionMode.Replace,
                  UpdateTargetId = "modal-content",
                  OnSuccess = "$.validator.unobtrusive.parse('form');",
                  AllowCache = false
              }, new {@class = "btn btn-warning btn-sm", data_toggle = "modal", data_target = "#exampleModal"})
          </td>
        }
       
    </tr>
}
</table>
