﻿
<div id="tableBlock"></div>

<div id="editBlock">
    <p><b>Редактирование типа пиццы</b></p>
    <table>
        <tr>
            <td>
                <input type="hidden" id="editPizzaTypeID" />
            </td>
            <td></td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td>
                <label>Диаметр: </label>
            </td>
            <td>
                <input type="number" id="editDiameter" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Цена: </label>
            </td>
            <td>
                <input type="number" id="editPrice" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Масса: </label>
            </td>
            <td>
                <input type="number" id="editWeight" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Пицца: </label>
            </td>
            <td>
                <select name="pizzas" id="editPizzaID">
                </select>
            </td>
        </tr>

    </table>
    <button id="editPizzaType">Сохранить</button>
</div>



@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var pizzas = [];

            GetAllPizzas();

            $("#editPizzaType").click(function (event) {
                event.preventDefault();
                EditPizzaType();
            });
        });

        function GetAllPizzaTypes() {

            $("#createBlock").css('display', 'block');
            $("#editBlock").css('display', 'none');
            $.ajax({
                url: '/api/pizzatypeapi/getpizzatypes/',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    WriteResponse(data);

                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }


        function GetAllPizzas() {
            $.ajax({
                url: '/api/pizzatypeapi/getpizzas/',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    pizzas = data.slice();
                    GetAllPizzaTypes();
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }


        function DeletePizzaType(id) {

            $.ajax({
                url: '/api/pizzatypeapi/deletepizzatype/' + id,
                type: 'DELETE',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    GetAllPizzaTypes();
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }


        function EditPizzaType() {
            var id = $('#editPizzaTypeID').val()

            var e = document.getElementById("editPizzaID");

            var pizzatype = {
                PizzaTypeID: $('#editPizzaTypeID').val(),
                PizzaID: e.options[e.selectedIndex].value,
                Diameter: $('#editDiameter').val(),
                Price: $('#editPrice').val(),
                Weight: $('#editWeight').val()
            };
            $.ajax({
                url: '/api/pizzatypeapi/editpizzatype/' + id,
                type: 'PUT',
                data: JSON.stringify(pizzatype),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    GetAllPizzaTypes();
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function WriteResponse(pizzatypes) {
            var strResult = "<table><th>PizzaTypeID</th><th>Пицца</th><th>Диаметр</th><th>Цена</th><th>Масса</th>";
            
            $.each(pizzatypes, function (index, pizzatype) {

                var pizzaname;
                pizzas.forEach(element => {
                    if (element.PizzaID == pizzatype.PizzaID) {
                        pizzaname = element["Name"];
                    }
                });
                
                strResult += "<tr><td>" + pizzatype.PizzaTypeID + "</td><td> " + pizzaname + "</td><td> " + pizzatype.Diameter + "</td><td>" +
                    pizzatype.Price + "</td><td>" + pizzatype.Weight +
                    "</td><td><a class='btn btn-sm btn-success' style='color:white;' id='editItem' data-item='" + pizzatype.PizzaTypeID + "' onclick='EditItem(this);' >Редактировать</a></td>" +
                    "<td><a class='btn btn-sm btn-danger' style='color:white;' id='delItem' data-item='" + pizzatype.PizzaTypeID + "' onclick='DeleteItem(this);' >Удалить</a></td></tr>";
                
            });
            strResult += "</table>";
            $("#tableBlock").html(strResult);

        }


        function DeleteItem(el) {
            var id = $(el).attr('data-item');
            DeletePizzaType(id);
        }


        function EditItem(el) {
            var id = $(el).attr('data-item');
            GetPizzaType(id);
        }


        function ShowPizzaType(pizzatype) {
            if (pizzatype != null) {
                $("#createBlock").css('display', 'none');
                $("#editBlock").css('display', 'block');
                $("#editPizzaTypeID").val(pizzatype.PizzaTypeID);
                $("#editDiameter").val(pizzatype.Diameter);
                $("#editPrice").val(pizzatype.Price);
                $("#editWeight").val(pizzatype.Weight);
                
                var selectList = document.getElementById("editPizzaID");
                
                for (var i = 0; i < pizzas.length; i++) {
                    var option = document.createElement("option");
                    option.value = pizzas[i].PizzaID;
                    option.text = pizzas[i].Name;
                    selectList.appendChild(option);
                }
                
            }
        }


        function GetPizzaType(id) {
            $.ajax({
                url: '/api/pizzatypeapi/getpizzatype/' + id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    ShowPizzaType(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
    </script>
}









@*<div id="createBlock">
        <p><b>Добавление типа пиццы</b></p>
        <table>
            <tr><td><input type="hidden" id="editPizzaTypeID" /></td><td></td></tr>
            <tr><td><label>Диаметр: </label></td><td><input type="number" id="addDiameter" /></td></tr>
            <tr><td><label>Цена: </label></td><td><input type="number" id="addPrice" /></td></tr>
            <tr><td><label>Масса: </label></td><td><input type="number" id="addWeight" /></td></tr>
        </table>
        <button id="addPizzaType">Сохранить</button>
    </div>
    //$("#addPizzaType").click(function (event) {
    //    event.preventDefault();
    //    AddPizzaType();
    //});

    //function AddPizzaType() {
    //    var pizzatype = {
    //        Diameter: $('#addDiameter').val(),
    //        Price: $('#addPrice').val(),
    //        Weight: $('#addWeight').val()
    //    };

    //    $.ajax({
    //        url: '/api/pizzatypeapi/',
    //        type: 'POST',
    //        data: JSON.stringify(pizzatype),
    //        contentType: "application/json;charset=utf-8",
    //        success: function (data) {
    //            GetAllPizzaTypes();
    //        },
    //        error: function (x, y, z) {
    //            alert(x + '\n' + y + '\n' + z);
    //        }
    //    });
    //}
*@
