﻿@model MVCproject.WEB.Models.PizzaTypeViewModel
@{
    Layout = null;
}



<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Добавление нового типа</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

        @using (Html.BeginForm("Create", "PizzaType", FormMethod.Post))
        {
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Weight, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Diameter, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Diameter, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Diameter, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.HiddenFor(model => model.PizzaID)
                @Html.HiddenFor(model => model.PizzaTypeID)
                
                <div class="modal-footer">
                        <input type="submit" value="Добавить" class="btn btn-default" />
                        <button class="btn btn-light" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        }




