﻿@model MVCproject.WEB.Models.PizzaTypeViewModel

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel"> Вы действительно хотите удалить данный тип?</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

    @Html.Label("Diameter", "Размер: " + Model.Diameter + "см, ")
    @Html.Label("Price", "Цена: " + Model.Price + " руб, ")
    @Html.Label("Weight", "Масса: " + Model.Weight + "г.")
    @using (Html.BeginForm())
    {
        
        <div class="modal-footer">
                <input type="submit" value="Удалить" class="btn btn-default" />
                <button class="btn btn-light" data-dismiss="modal">Закрыть</button>
        </div>
    }
