﻿@model List<MVCproject.WEB.Models.PizzaTypeViewModel>

@{
    Layout = null;
}

<div id="pizzaTypeWrapper">
    @for (int i = 0; i < Model.Count; i++)
    {
    <div class="btn-group w-100 m-1" role="group">
        @if (User.IsInRole("User"))
        {
            @(Ajax.ActionLink("Закзать", "AddToCart", "Cart", new { id = Model[i].PizzaTypeID }, new AjaxOptions()
        {
            HttpMethod = "Get",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "modal-content",
            OnSuccess = "$.validator.unobtrusive.parse('form');",
            AllowCache = false
        }, new { @class = "btn btn-sm btn-success", @style = "", data_toggle = "modal", data_target = "#exampleModal" }))
        }

        <button type="button" class="btn btn-sm btn-success container" disabled>
            <b>@Model[i].Price</b> руб, <b>@Model[i].Diameter</b> см, <b>@Model[i].Weight</b> г.
        </button>
        
        @if (User.IsInRole("Admin"))
        {
            @Ajax.ActionLink("clear", "Delete", "PizzaType", new {id = Model[i].PizzaTypeID}, new AjaxOptions()
            {
                HttpMethod = "Get",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "modal-content",
                AllowCache = false
            }, new {@class = "btn btn-sm btn-warning material-icons", @style = " color: white", data_toggle = "modal", data_target = "#exampleModal" })


            @Ajax.ActionLink("create", "Edit", "PizzaType", new {id = Model[i].PizzaTypeID}, new AjaxOptions()
           {
               HttpMethod = "Get",
               InsertionMode = InsertionMode.Replace,
               UpdateTargetId = "modal-content",
               OnSuccess = "$.validator.unobtrusive.parse('form');",
               AllowCache = false
           }, new {@class = "btn btn-sm btn-warning material-icons", @style = "color: white", data_toggle = "modal", data_target = "#exampleModal" })
            }   

    </div>
    }
    

    @if (User.IsInRole("Admin"))
    {
        @Ajax.ActionLink("add", "Create", "PizzaType", new {id = ViewBag.pizzaid}, new AjaxOptions()
        {
            HttpMethod = "Get",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "modal-content",
            OnSuccess = "$.validator.unobtrusive.parse('form');",
            AllowCache = false
        }, new {@class = "btn btn-sm btn-warning material-icons w-100 m-1", @style = "font-size:16px; color: white", data_toggle = "modal", data_target = "#exampleModal" })
    }


</div>