﻿@model MVCproject.BLL.Models.Cart.CartItem


<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel"> Добавить в корзину</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


@using (Ajax.BeginForm("AddToCart", "Cart", new AjaxOptions()
{
    AllowCache = false,
    HttpMethod = "Post",
    OnSuccess = "$('#exampleModal').modal('hide')",
}))

{
    <div class="form-group">
        @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @Value = "1" } })
            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.Hidden("id", Model.PizzaTypeDto.PizzaTypeID)
    
<div class="modal-footer">
    <input type="submit" class="btn btn-sm btn-default" value="Добавить в корзину" />
    <button class="btn btn-light" data-dismiss="modal">Закрыть</button>
</div>
}
