﻿@model MVCproject.WEB.Models.OrderViewModel



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal col-md-4">
    <h4>Ваш заказ:</h4>

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
       </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Adress, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Adress, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Adress, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label" })
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">+375</div>
                </div>
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
    </div>


    <div class="form-group">
        <div id="cartWrapper">
            @Html.Action("List", "Cart")
            @Html.HiddenFor(p => p.UserID)
            @Html.HiddenFor(p => p.OrderID)
        </div>
    </div>

    <div class="form-group">
            <input type="submit" value="Заказать" class="btn btn-default" />
    </div>

</div>
}

<div class="container">
    @Html.ActionLink("Назад", "Index", "PizzaCategory")
</div>
