﻿@model MVCproject.BLL.Models.Cart.Cart

@{
    Layout = null;
}

<ul class="list-group list-group-flush">

    @foreach (var item in Model.GetCollection)
    {
        <li class="list-group-item">
            <div id="cartItem[@item.PizzaTypeDto.PizzaTypeID]">
                <span>
                    <h5>
                        @Html.Label("Name", item.PizzaName), @item.Amount  шт.
                        @Ajax.ActionLink("remove_shopping_cart", "RemoveFromCart", "Cart", new {id = item.PizzaTypeDto.PizzaTypeID}, new AjaxOptions()
                        {
                        HttpMethod = "Post",
                        OnSuccess = "",
                        AllowCache = false,
                        UpdateTargetId = "cartWrapper",
                        InsertionMode = InsertionMode.Replace

                        }, new {@class = "material-icons", @style = "font-size:24px; color: red" })

                    </h5>
                    
                    @Html.Label("Diameter", "Размер: " + item.PizzaTypeDto.Diameter + "см, ")
                    @Html.Label("Weight", "Масса: " + item.PizzaTypeDto.Weight + "г.")

                    
                    <h6>
                        @item.PizzaTypeDto.Price руб.
                    </h6>
                </span>
            </div>
        </li>
    }
</ul>

<p>
    Ваш заказ на сумму <b>@Html.Action("Calculate")</b> рублей.
</p>
